<div class="subscribe">

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@user.errors.count, 'error') %> stopped this user from being saved:</h5>
      <!-- <ul> -->
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
    
    </div>
  <% end %>

  <p class="form-instruction">
    Sign up for early access. 
  </p>

  <div class="row">
    <%= form_for @user, class: "form", id: "subscribe-form", role: "form" do |u| %>
    <div class="line">
      <%= u.text_field :name, placeholder: 'Name here...', class: 'form-control', required: true %>
    </div>
    <div class="line">
      <%= u.text_field :email, placeholder: 'Your email here...', class: 'form-control', required: true %>
    </div>
    <div class="line">
      <%= u.submit 'Notify me', class: 'btn btn-danger btn-fill' %>
    </div>
    <% end %>
  </div>
</div>
